.arriba{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(73, 73, 73);

}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav a{
    margin:20px;
    color:white;
    text-decoration: none;
}

.inicio{
    display: flex;
    text-align: center;
    font-weight: bold;
}

.container{
    display: flex;
    justify-content:space-around;
    margin:100px;
}


footer{
    background-color:black;
    display:flex;
    justify-content:space-between;
    padding:15px;
}

.contacto{
    display:flex;
    justify-content: center;
    text-align: center;
    margin:30px;
}

